{% extends "base/index.html" %}
{% block navigation %}
 {% if request.user.is_authenticated %}

     <li>
        <a class="" href="#">Hello {{ request.user.username }}</a>
     </li>
     <li>
        <a class="page-scroll" href="/location/create/">Add a Location</a>
     </li> 
     <li>
         <a class="" href="/logout">Logout</a>
     </li>
 {% endif %}
{% endblock %}

{% block search %}
    {% comment %}
<form action="/search/" class="navbar-form navbar-right" method="get">
 <div class="form-group">
 <input type="text" placeholder="Search" class="form-control" name="query"></input>
 </div>
</form>
    {% endcomment %}
{% endblock %}
{% block main_content %}
{% endblock %}