{% extends "base/theme.html" %}
{% load bootstrap_pagination %}
{% block main_content %}
    <div class="data-layer">
        <ul>
            {% for location in object_list %}
                <li class="location-data" data-latitude="{{ location.position.latitude }}" data-longitude="{{ location.position.longitude }}" data-id="{{ location.id }}">{{ location.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="map" class="wide-map"></div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            {% if query or category >= 0 %}
                <div style="margin-top: 37px;">
                    <div class="form-group">
                        <h3>You Searched For:</h3>
                    </div>
                    <div class="form-group">
                        {% if query and category >= 0 %}
                            <span>"{{ query }}"</span>
                            <span> located in <strong>{{ category }}</strong></span>
                        {% elif query %}
                            <span>"{{ query }}"</span>
                        {% elif category >= 0 %}
                            <span> Shops in <strong>{{ category }}</strong></span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="form-group">
                    <form id="search_form" method="GET" action="/search">
                        <div class="col-md-12">
                            <h3>Filter Results</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Search by name" class="form-control" name="query" value="{{ request.GET.query|default:"" }}"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <div class="form-group">
                                    <select id="id_category" name="category" class="form-control">
                                        <option value="" {% if request.GET.category == "" %}selected{% endif %}>Or filter by area..</option>
                                        <option value="0" {% if request.GET.category == "0" %}selected{% endif %}>Botley</option>
                                        <option value="1" {% if request.GET.category == "1" %}selected{% endif %}>Central</option>
                                        <option value="2" {% if request.GET.category == "2" %}selected{% endif %}>Cowley</option>
                                        <option value="3" {% if request.GET.category == "3" %}selected{% endif %}>Headington</option>
                                        <option value="4" {% if request.GET.category == "4" %}selected{% endif %}>Jericho</option>
                                        <option value="5" {% if request.GET.category == "5" %}selected{% endif %}>Summertown</option>
                                    </select>
                                     <i class="fa fa-chevron-down"></i>
                                </div>
                            </fieldset>
                        </div>
                        <!--<button name="area-filter">Filter results</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-2"></div>
        <div class="col-lg-10 col-lg-offset-2 grid">
            
            {% for location in object_list %}
                <div class="col-lg-3 grid-item">
                    <div class="row">
                        <div class='col-md-12 item'>
                            
                            <h3><a href=" {{ location.get_absolute_url }}">{{ location.title }}</a></h3>
                            {% if location.address %}<p><b>Location: </b>{{ location.address }}</b></p>{% endif %}
                                <br>
                             <!--<p><b>{{ location.description }}</b></p>-->
                            {% if location.image_file %}
                                <img class="img-responsive" src="{{ location.image_file.url }}"></img><br>
                            {% endif %}
                            <!--{% if location.hours %}<p><b>Opening Hours: </b>{{ location.hours }}</p>{% endif %}-->
                            {% if location.area >= 0 %}<p><b>Area: </b>{{ location.get_area_display }}</p>{% endif %}
                            <div class="coffeed-rating rating">
                          
                           {% include 'base/rating.html' with rating=location.get_average_rating %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            {% comment %}
            {% for location in object_list %}
                <div class='row'>
                    <div class="col-md-8">
                        <h3><a href=" {{ location.get_absolute_url }}">{{ location.title }}</a></h3>
                        {% if location.area >= 0 %}<p><b>Location: </b>{{ location.get_area_display }}</p>{% endif %}
                        {% if location.hours %}<p><b>Opening Hours: </b>{{ location.hours }}</p>{% endif %}
                        <p><b>{{ location.description }}</b></p>

                        {% if location.image_file %}
                            <img class="img-responsive" src="{{ location.image_file.url }}"></img><br><br><br>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
            {% endcomment %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block pagination %}
    {% bootstrap_paginate page_obj range=6 show_prev_next="false" show_first_last="true" %}
{% endblock %}
{% block bottom_js %}
    <script type="application/javascript">
        $(document).ready(function(){
            $('#id_category').change(function(){
                $('#search_form').submit();
            });

             var $grid=$('.grid').imagesLoaded( function() {
                $('.grid').isotope({
                // options
                itemSelector: '.grid-item',
                layoutMode: 'fitRows'
                });
                $grid.imagesLoaded().progress( function() {
                    $grid.isotope('layout');
                    });
                });
        });
    </script>
{% endblock %}